@charset "utf-8";

/// Force variables 'abstracts/_variables.scss'
@use "abstracts" with (
  $base-font-size: 18px,
  $base-line-height: 1.5,
  $sol-is-dark: true
);

@use "base";
@use "layout";
@use "highlight-dark";
